extends layout

block content
	h1 Gridsmart
	div.main-panel
		ul.nav.nav-tabs(role="tablist")
			li
				a(href="/users/#{userId}") Property
			li
				a(href="/users/#{userId}/bills") Bills
			//- electric water and fuel
			li.active
				a(href="/users/#{userId}/footprint"  class="active") Carbon Footprint/ Usage
		div.tab-content
			div#footprint.tab-pane.active
				h3 Some Eco BIZ Yo!
