extends layout

block content
	h1 Gridsmart
	div.main-panel
		ul.nav.nav-tabs(role="tablist")
			li
				a(href="/") Property
			li.active
				a(href="/bills" class="active") Bills
			//- electric water and fuel
			li
				a(href="/footprint") Carbon Footprint/ Usage
		div.tab-content
			div#footprint.tab-pane.active
				h3 Some Eco BIZ Yo!
