doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Grid Smart
		//- link(rel="stylesheet" type="text/css" href="http://summer2014.refactoru.com/public/fontello/css/fontello.css")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
		link(href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.min.css")
		link(rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css")
		link(rel='stylesheet' href='/stylesheets/main.css')

	body
		if user
			p: a(href="/auth/logout") Log out
		block content
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.min.js")
		script(type="text/javascript", src="http://ziplookup.googlecode.com/git/public/ziplookup/zipLookup.min.js")
		script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
		//- script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.5/js/jquery.tablesorter.min.js")
		script(src="http://cdn.oesmith.co.uk/morris-0.5.1.js")
		//- script(src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.js")
		script(type="text/javascript", src="/javascripts/main.js")

		