extends layout

block content
  //- Error comes through via the context passed when calling res.render('login', {...})
  //- You'll see this in controllers/authentication.js
  //- If the error exists, we'll display it.
  if error
    h3= error
  h1 Gridsmart
  div.login
    //- Form for handling existing user logins.
    h2 Existing Users
    form.form-horizontal(action="/auth/login", method="post")
      .form-group
        input.form-control.input-sm.log-me(type="text", name="username", placeholder="Username")
      .form-group
        input.form-control.input-sm.log-me(type="password", name="password", placeholder="Password")
      .form-group.login-button
        input.form-control.btn.btn-primary.log-me(type="submit", value="Sign In")

    //- Form for allowing new users to register.
    h2 Register
    form.form-horizontal(action="/auth/signup", method="post")
      .form-group
        input.form-control.input-sm.log-me(type="text", name="username", placeholder="Username")
      .form-group
        input.form-control.input-sm.log-me(type="email", name="email", placeholder="Email")
      .form-group
        input.form-control.input-sm.log-me(type="password", name="password", placeholder="Password")
      .form-group.login-button
        input.form-control.btn.btn-primary.log-me(type="submit")